<div class="row">
    <% @articles.each do |article| %>
        <div class="card text-center col-sm-4">
            <div class="card-header">
                Publicado por: <%= link_to article.user.username, user_path(article.user) %>
            </div>
            
            <div class="card-body">
                <h5 class="card-title"> <%= article.title %> </h5>
                <p class="card-text"> <%= truncate(article.description, length: 50) %> </p>
                <%= link_to 'Editar', edit_article_path(article.id), class: "btn btn-outline-info" %>
                <%= link_to 'Show', article_path(article.id), class: "btn btn-outline-success" %>
                <%= link_to 'Delete', article_path(article.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
            </div>
            <div class="card-footer text-muted">
                Last edition <%= time_ago_in_words(article.updated_at) %> ago
            </div>  
        </div>
    <% end %>
</div>