<div class="row">
    <% obj.each do |article| %>
        <div class="card text-center col-sm-4">
            <div class="card-header">
                Publicado por: <%= link_to article.user.username, user_path(article.user) %>
            </div>
            
            <div class="card-body">
                <h5 class="card-title"> <%= article.title %> </h5>
                <p class="card-text"> <%= truncate(article.description, length: 50) %> </p>
                <%= link_to 'Show', article_path(article.id), class: "btn btn-outline-success" %>
                <% if logged_in? && (article.user == current_user || current_user.admin?) %>
                <%= link_to 'Editar', edit_article_path(article.id), class: "btn btn-outline-info" %>
                <%= link_to 'Delete', article_path(article.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
                <% end %>

                <% if article.categories.any? %>
                    <div class="card-text text-left mt-5"> Categorias:
                        <% article.categories.each do |category| %>
                            <span class="badge"> <%= link_to category.name, category_path(category) %> &nbsp; </span>
                        <% end %>
                    </div>
                <% end %>

            </div>
            <div class="card-footer text-muted">
                Last edition <%= time_ago_in_words(article.updated_at) %> ago
            </div>  
        </div>
    <% end %>
</div>