<div class="container p-4  shadow mb-5 rounded" id="new-edit-form">
    <%= render 'shared/errors', obj: @article %>
    
    <%= form_with(model: @article,  local: true) do |f| %>
        <div class="form-group row">
            <%= f.label :title, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Titulo del artículo" %>
            </div>
            
        </div>
        <div class="form-group row">
            <%= f.label :description, class: "col-2 col-form-label  text-light" %>
            <div class="col-10">
                <%= f.text_area :description, rows: 10 , class: "form-control shadow rounded", placeholder: "Descripción el articulo" %>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <%= f.submit class: "btn btn-outline-light btn-lg shadow rounded" %>
        </div>
    <% end %>
</div>
<%= link_to '[Cancel and return to the articles]', articles_path, class: "text-info text-center" %>