<h1>Index of Articles</h1>
<a href="articles/new">Create new article</a>
<table>
    <thead>
        <tr>
            <th>Number</th>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>

    <tbody>
    <% rawNum = 0 %>
    <% @articles.each do |article| %>
        <tr>
            <% rawNum = rawNum + 1 %>
            <td> <%= rawNum %> </td>
            <td> <%= article.id %> </td>
            <td> <%= article.title  %> </td>
            <td> <%= article.description  %> </td>
            <td> <%= article.author %>  </td>
            <td> <%= link_to 'Show', article_path(article.id)  %> </td>
            <td> <%= link_to 'Edit', edit_article_path(article.id)  %> </td>
            <td> <%= link_to 'Delete', article_path(article.id), method: :delete, data: { confirm: "Are you sure?" } %>   </td>
        </tr>
    <% end %>
    </tbody>
</table>
<a href="articles/new"> Crear nuevo articulo  (HTML tag) </a>

<p><%= link_to 'Create new article (Ruby Tag)', new_article_path %></p>