<div class="container justify-content">
    <h2 class="text-center p-4"><%= @article.title %></h2>
    <div class="card text-center col-sm-12">
        <div class="card-header">
            Publicado por: <%= @article.author %>
        </div>
        <div class="card-body">
            <div class="card-text text-left"> <%= simple_format(@article.description) %> </div>
            <%= link_to 'Editar', edit_article_path(@article.id), class: "btn btn-outline-info" %>
            <%= link_to 'Delete', article_path(@article.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
        </div>
        <div class="card-footer text-muted text-center">
            Created <%= time_ago_in_words(@article.created_at) %> ago,
            Last edition <%= time_ago_in_words(@article.updated_at) %> ago
        </div>  
    </div>
</div>

