<div class="container p-4  shadow mb-5 rounded" id="new-edit-form">
    <%= render 'shared/errors', obj: @category %>
    
    <%= form_with(model: @category,  local: true) do |f| %>
        <div class="form-group row">
            <%= f.label :name, "Category name" , class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Ingrese una categoria" %>
            </div>
        </div>
        

        <div class="form-group row justify-content-center">
            <%= f.submit class: "btn btn-outline-light btn-lg shadow rounded" %>
        </div>
    <% end %>
</div>
<%= link_to '[Cancel and return to the home]', users_path, class: "text-info text-center" %>