<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to 'α-Blog', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <%= link_to 'Home', root_path, class:"nav-link" %> <span class="sr-only">(current)</span>
            </li>

            <li class="nav-item">
                <%= link_to 'Tabla de articulos', articles_path, class:"nav-link" %>
            </li>
            

            <li class="nav-item">
                <%= link_to 'Usuarios', users_path, class:"nav-link" %>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Articulos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if logged_in? %>
                        <%= link_to 'Nuevo', new_article_path, class: "dropdown-item" %>
                    <% end %>
                    <%= link_to 'Ver todos', articles_path, class: "dropdown-item" %>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Algo que no sirve</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    <%= link_to 'Todas las categorias...', categories_path, class: "dropdown-item" %>
                    <div class="dropdown-divider"></div>
                    <% Category.all.each do |category|%>
                    <%= link_to category.name, category_path(category), class: "dropdown-item" %>
                    <% end %>
                    <% if logged_in? && current_user.admin? %>
                        <div class="dropdown-divider"></div>
                        <%= link_to 'Crear nueva categoria', new_category_path , class: "dropdown-item" %>
                    <% end %>
                </div>
            </li>


            <% if logged_in? %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <%= "Admin" if current_user.admin? %>  Profile <%= current_user.username %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to 'Mi perfil', user_path(current_user) , class: "dropdown-item" %>
                    <%= link_to 'Edit my profile', edit_user_path(current_user), class: "dropdown-item" %>
                    <%= link_to 'Delete your profile', user_path(current_user), class: "dropdown-item text-danger", method: :delete, data: { confirm: "Are you sure?" } %>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Algo que no sirve</a>
                </div>
            <li>
            <% end %>
            
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <% if logged_in? %>
                <%= link_to 'Logout', logout_path, class:"btn btn-outline-danger my-2 my-sm-0", method: :delete %>
            <% else %>
                <%= link_to 'Login', login_path, class:"btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
        </form>
    </div>
    </nav>